<?xml version='1.0' encoding='utf-8'?>
<plugin id="com-yatang-plugin-ytnotification" version="1.0.0" xmlns="http://apache.org/cordova/ns/plugins/1.0" xmlns:android="http://schemas.android.com/apk/res/android">
    <name>YTNotification</name>
    <js-module name="YTNotification" src="www/ytnotification.js">
        <clobbers target="YTNotification" />
    </js-module>
    <!-- ios -->
    <platform name="ios">
    <config-file parent="/*" target="config.xml">
      <feature name="YTNotification">
        <param name="ios-package" value="CDVNotification"/>
      </feature>
    </config-file>
    <header-file src="src/ios/CDVNotification.h"/>
    <source-file src="src/ios/CDVNotification.m"/>
  </platform>
  <!-- android -->
  <platform name="android">
    <config-file parent="/*" target="res/xml/config.xml">
      <feature name="YTNotification">
        <param name="android-package" value="com.yatang.plugin.ytnotification.YTNotification"/>
      </feature>
    </config-file>
    <config-file parent="/*" target="AndroidManifest.xml"/>
    <source-file src="src/android/YTNotification.java" target-dir="src/com/yatang/plugin/ytnotification"/>
  </platform>
</plugin>
